<a class="navbar-brand" href="#">
  <span class="logo logo-left">Kitty</span>
  <span class="logo logo-right">Garden</span>
</a>
<div class="mdc-top-app-bar__row">
  <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
    <span class="mdc-top-app-bar__title">Title</span>
  </section>
</div>
<!-- <button mat-button [matMenuTriggerFor] = "menu">Rezerwacja</button>
<mat-menu #menu = "matMenu">
   <button mat-menu-item>Stała</button>   
   <button mat-menu-item [matMenuTriggerFor] = "other">Tymczasowa</button>
</mat-menu>
<mat-menu #other = "matMenu">
   <button mat-menu-item>File 1</button>
   <button mat-menu-item>File 2</button>
</mat-menu> -->